body {
  font-family: "Oxanium", cursive !important;
}

.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 80px;
  justify-content: space-around;
}

.circular-chart {
  display: block;
  max-width: 80%;
  max-height: 250px;
  min-width: 80px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 4.8;
}

.circle {
  fill: none;
  stroke-width: 3.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart[ispositive="true"] .circle {
  stroke: #4CC790;
}

.circular-chart[ispositive="false"] .circle {
  stroke: #ff9f00;
}



.percentage {
  font-size: 0.55em;
  text-anchor: middle;
}

.line {
  font-size: 0.4em;
  text-anchor: middle;
}

.nowrap {
  white-space: nowrap;
}
.margin-5 {
  margin: 5px;
}

.rigth {
  float: right;
}

.left {
  float: left;
}
.clear {
  clear: both;
}

.card {
  width:25%; 
  min-width:300px !important; 
  float:left; 
  margin:10px;
}

.custom-control-label::after,
.custom-control-label::before {
  top: 0 !important;
  border-radius: 1em;
  height: 30px !important;
  width: 30px !important;
}

.title-roi {
  font-family: 'Press Start 2P', cursive;
  vertical-align: bottom;
  margin-left: 3px;
}






.selector {
  position: relative;
  padding: 20px;
  width: 400px;
  color: #7e7e7e;
}

  .selector ul {
    position: relative;
    display: block;
    overflow: auto;
    min-width: 138px;
    max-height: 200px;
    background: #fff;
    list-style: none;
    white-space: inherit;
    padding-right: 17px;
    width: calc(100% + 17px)
  }

  .selector li {
    position: relative;
    padding: 3px 20px 3px 25px;
    cursor: pointer
  }

    .selector li:before {
      position: absolute;
      top: 50%;
      left: 0;
      top: 4px;
      display: inline-block;
      margin-right: 9px;
      width: 17px;
      height: 17px;
      background-color: #f4f4f4;
      border: 1px solid #d5d5d5;
      content: ""
    }

    .selector li[data-selected="1"]:before {
      border: 1px solid #d7d7d7;
      background-color: #fff
    }

    .selector li[data-selected="1"]:after {
      position: absolute;
      top: 50%;
      left: 3px;
      top: 11px;
      display: inline-block;
      width: 4px;
      height: 10px;
      border-right: 2px solid;
      border-bottom: 2px solid;
      background: none;
      color: #39c9a9;
      content: "";
      -webkit-transform: rotate(40deg) translateY(-50%);
      transform: rotate(40deg) translateY(-50%)
    }

    .selector li:hover {
      color: #aaa
    }

    .selector li .total {
      position: absolute;
      right: 0;
      color: #d7d7d7
    }

  .selector .price-slider {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding-top: 17px
  }

@media (min-width: 768px) {
  .selector .price-slider {
    padding-top: 8px
  }
}

.selector .price-slider:before {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: 0;
  content: attr(data-currency);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}

.selector #slider-range {
  width: 90%;
  margin-bottom: 30px;
  border: none;
  background: rgba(0, 0, 0, 0.03);
  height: 3px;
  margin-left: 8px;
  margin-right: 8px
}

@media (min-width: 768px) {
  .selector #slider-range {
    width: 100%
  }
}

.selector .ui-slider-handle {
  background-color: #007bff !important;
  border: 1px solid #ffffff !important;
  border: none;
  top: -12px !important;
  width: 31px !important;
  height: 31px !important;
  outline: none
}

@media (min-width: 768px) {
  .selector .ui-slider-handle {
    top: -7px;
    width: 16px;
    height: 16px
  }
}

.selector .ui-slider-range {
  background-color: #007bff !important;
}

.selector .slider-price {
  position: relative;
  display: inline-block;
  padding: 5px 40px;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.03);
  line-height: 28px;
  text-align: center;
  white-space: nowrap !important;
}

  .selector .slider-price:before {
    position: absolute;
    top: 50%;
    left: 13px;
    margin-top: 0;
    content: attr(data-currency);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
  }

.selector .show-all {
  position: relative;
  padding-left: 25px;
  color: #39c9a9;
  cursor: pointer;
  line-height: 28px
}

  .selector .show-all:after, .selector .show-all:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 4px;
    margin-top: -1px;
    color: #39c9a9;
    width: 10px;
    border-bottom: 1px solid
  }

  .selector .show-all:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
  }

.selector.open ul {
  max-height: none
}

.selector.open .show-all:after {
  display: none
}


* {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}